.registeredEvent {
    padding: 50px 0;
    width: 100%;
    background: #E5E5E5;
}

.registeredEvent__container {
    max-width: 1170px;
    margin: 0 auto;
}

.registeredEvent__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 50px 0;
}

/* responsive */

@media (max-width: 575px) {
    .registeredEvent__card {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 0 20px;
        margin-top: 40px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .registeredEvent__card {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 0 20px;
        margin-top: 40px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .registeredEvent__card {
        grid-template-columns: 1fr 1fr;
        padding: 0 20px;
        margin-top: 40px;
    }

}